.banner {
  background: url(/public/images/codigo.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 3px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imgProfile {
  width: 120px;
  border-radius: 100%;
  margin-left: 30px;
  margin-bottom: -30px;
  border: solid 3px white;
  box-shadow: rgba(86, 169, 202, 0.863) 5px 5px,
    rgba(86, 169, 202, 0.3) 10px 10px, rgba(86, 169, 202, 0.2) 15px 15px,
    rgba(86, 169, 202, 0.1) 20px 20px, rgba(191, 205, 211, 0.05) 25px 25px;
}
.textPortfolio {
  color: white;
  font-size: 12px;
  margin-left: 720px;
}
